form {
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-background);
    border-radius: 10px;
    padding: 5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    width: 700px;
    height: 500px;
}

h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    font-weight: 800;
    color: var(--color-text);
}

img {
    width: 350px;
    height: 350px;
    border-radius: 10%;
    margin-right: 1rem;
}
